.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}
.text-left {
  text-align: left;
}
.list-ul {
  list-style-type: none;
  padding-left: 0;
}
.about-size {
  font-size: 1rem;
  font-weight: 200;
}
