<div class="container">
  <mat-card class="bg-primary">
    <mat-card-content>
      <!-- About Section -->
      <section class="text-white mb-0" id="about">
        <div class="container">
          <h2 class="text-center text-uppercase text-white">{{ 'ABOUT' | translate }}</h2>
          <div fxLayout="column" fxLayoutAlign="center center" class="m-4">
            <div fxFlexAlign="center center">
              <mat-icon class="mat-icon-star" fxFlexAlign="center center">star</mat-icon>
            </div>
          </div>
          <div class="row">
            <div fxLayout="row" fxLayout.xs="column" >
              <div fxFlex="50">
                <!-- <p class="lead mat-body text-center">
                  {{ config?.about?.section1 }}
                </p> -->
                <ul class="about-size text-left list-ul">
                  <li>
                      <mat-icon>done</mat-icon>
                      Proven Experience of ASP.NET, C#, MVC, Web Forms
                  </li>
                  <li>
                      <mat-icon>done</mat-icon>
                      Proven Experience with JavaScript frameworks such as AngularJS, Angular4+,React Js
                  </li>
                  <li>
                      <mat-icon>done</mat-icon>
                    Familiar with Bootstrap, Angular material, HTML/CSS, XML, JSON
                  </li>
                  <li>
                      <mat-icon>done</mat-icon>
                      Proven experience of SQL, experience with relational databases such as Microsoft SQL Server, Oracle PL/ SQL, MySQL
                  </li>
                  <li >
                      <mat-icon>done</mat-icon>
                      Familiar with Bootstrap, Angular material, HTML/CSS, XML, JSON
                  </li>
                
                </ul>
              </div>
              <div fxFlex="50">
                <!-- <p class="lead mat-body text-center">
                  {{ config?.about?.section2 }}
                </p> -->
                <ul class="text-left list-ul about-size">
                    <li>
                        <mat-icon>done</mat-icon>
                        Familiar with GIT Source Control, and Jira.
                    </li>
                    <li>
                        <mat-icon>done</mat-icon>
                        Proven experience of RESTful API
                    </li>
                    <li>
                        <mat-icon>done</mat-icon>
                        Proven experience of Unit testing and Test-driven development
                    </li>
                    <li>
                        <mat-icon>done</mat-icon>
                        Knowledge of AWS,AZURE
                    </li>
                    <li>
                        <mat-icon>done</mat-icon>
                        Great Team Player, Great communicator, Good problem-solving skills
                    </li>
                    <li>
                        <mat-icon class="">done</mat-icon>
                        Proven experience in working in agile environment using SCRUM methodologies.
                    </li>
                  </ul>
              </div>
            </div>
          </div>
          <!-- <div class="text-center mt-4">
            <a href="" mat-icon-button target="_blank">
              <mat-icon>cloud_download</mat-icon>
            </a>
          </div> -->
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
